USER_ID=1000
GROUP_ID=1000

SECRET_TOKEN=Wa4Kdu6hMt3tYKm4jb9p4vZUuc7jBVFw


LISTEN_ON=0.0.0.0:9292

DATABASE_URL=postgresql://sample-app:test_db_password@postgres:5432/sample-app?encoding=utf8&pool=5&timeout=5000

CACHE_URL=redis://redis:6379/0
JOB_WORKER_URL=redis://redis:6379/0